body {
  font-family: 'Helvetica Neue';
}

.wrapper {
  max-width: 80vw;
  margin: 4rem auto;
}

.legend {
  display: flex;
  flex-wrap: wrap;
}

.legend__dogm {
  display: flex;
  margin: .5rem;
}

.legend__indicator {
  height: 15px;
  width: 55px;
  border-radius: 3px;
  background-color: #E9E9E9;
}

.legend__indicator--red {
  background-color: #FF8F8F;
}

.legend__indicator--blue {
  background-color: #7C7CE0;
}

.legend__indicator--green {
  background-color: #80CFAB;
}

.legend__indicator--default {
  background-color: #E9E9E9;
}

.legend__label {
  padding: 0 .5rem;
  margin-top: -3px;
  align-self: center;
}

.instruction {
  line-height: 1.4rem;
}

.button {
   display: inline-block;
   position: relative;
   width: 120px;
   height: 32px;
   line-height: 32px;
   border-radius: 2px;
   font-size: 0.9em;
   background-color: #fff;
   color: #646464;
 }
