body {
  font-family: 'Helvetica Neue';
}

span {
  transition: background-color .2s;
}

.wrapper {
  max-width: 80vw;
  margin: 4rem auto;
}

.label {
  margin: 1rem;
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
  font-weight: bold;
  letter-spacing: .4px;
}

.legend {
  display: flex;
  flex-wrap: wrap;
  padding: 0rem 1rem;
}

.legend__dogm {
  display: flex;
  margin: .5rem;
}

.legend__indicator {
  height: 15px;
  width: 55px;
  border-radius: 3px;
  background-color: #E9E9E9;
}

.legend__indicator--red {
  background-color: #FF8F8F;
}

.legend__indicator--blue {
  background-color: #7C7CE0;
}

.legend__indicator--green {
  background-color: #80CFAB;
}

.legend__indicator--default {
  background-color: #E9E9E9;
}

.legend__label {
  padding: 0 .5rem;
  margin-top: -3px;
  align-self: center;
}

.instruction {
  line-height: 1.4rem;
}

.button {
  display: inline-block;
  position: relative;
  min-width: 120px;
  height: 30px;
  line-height: 20px;
  border-radius: 2px;
  font-size: 0.8em;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #fff;
  color: #646464;
  outline-width: 0;
  border: 1px solid #90a4ae;
  cursor: pointer;
  margin: 10px 5px 10px 0px;
  transition: background-color .1s;
}

.button:hover {
  background-color: #eceff1;
}

.action {
  padding: 0 1rem;
}

.app {
  padding: 1rem 1rem;
}
