{
    "rules": {
        "semi": 0,
        "quotes": [
          "error", "single", {"allowTemplateLiterals": true}
        ]
    },
    "env": {
      "browser": true,
      "es6": true,
      "node": true
    },
    "parser": "babel-eslint",
    "extends": "eslint:recommended"
}
