{
    "rules": {
        "semi": 0,
        "quotes": ["error", "single"]
    },
    "env": {
      "browser": true,
      "node": true
    },
    "parser": "babel-eslint",
    "extends": "eslint:recommended"
}
